* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  :root {
    --light-color: #b4bac9;
  }
  body {
    background-color: #4d7bff;
  }
  .container {
    height: 31.25em;
    width: 31.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .center {
    transform: translateX(-50%);
    left: 50%;
  }
  .bulb {
    position: absolute;
    background-color: var(--light-color);
    height: 15.62em;
    width: 15.62em;
    border-radius: 50%;
    top: 1.25em;
  }
  #btn {
    display: block;
    position: absolute;
    width: 6.25em;
    bottom: 1.87em;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    padding: 0.6em 0;
    border: none;
    outline: none;
    border-radius: 3.12em;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
  }